In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
df = pd.read_csv(r'C:\Users\paula\Downloads\Bootcamp\PROYECTO_1\Equality\data\ESS11.csv')

C:\Users\paula\AppData\Local\Temp\ipykernel_27148\1721469193.py:1: DtypeWarning: Columns (192,198,666) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\paula\Downloads\Bootcamp\PROYECTO_1\Equality\data\ESS11.csv')

In [4]:
df.head()

,name,essround,edition,proddate,idno,cntry,dweight,pspwght,pweight,anweight,...,rinwe,inwde,jinws,jinwe,inwtm,mode,domain,prob,stratum,psu
0,ESS11e03,11,3.0,02.06.2025,50014,AT,1.185115,0.392891,0.330915,0.130013,...,NaN,2023-11-12 15:26:55,2023-11-12 15:21:28,2023-11-12 15:26:55,30.0,1,2.0,0.000579,107,317
1,ESS11e03,11,3.0,02.06.2025,50030,AT,0.609898,0.325153,0.330915,0.107598,...,NaN,2023-10-18 10:44:18,2023-10-18 10:42:22,2023-10-18 10:44:18,40.0,1,1.0,0.001124,69,128
2,ESS11e03,11,3.0,02.06.2025,50057,AT,1.392330,4.000023,0.330915,1.323666,...,NaN,2023-09-30 14:13:33,2023-09-30 14:08:31,2023-09-30 14:13:33,42.0,1,2.0,0.000493,18,418
3,ESS11e03,11,3.0,02.06.2025,50106,AT,0.556061,0.176228,0.330915,0.058316,...,NaN,2023-06-30 15:11:21,2023-06-30 15:08:05,2023-06-30 15:11:21,34.0,1,1.0,0.001233,101,295
4,ESS11e03,11,3.0,02.06.2025,50145,AT,0.722795,1.060940,0.330915,0.351080,...,NaN,2023-07-11 11:14:03,2023-07-11 11:10:02,2023-07-11 11:14:03,57.0,1,2.0,0.000949,115,344

In [5]:
df.columns

Index(['name', 'essround', 'edition', 'proddate', 'idno', 'cntry', 'dweight',
       'pspwght', 'pweight', 'anweight',
       ...
       'rinwe', 'inwde', 'jinws', 'jinwe', 'inwtm', 'mode', 'domain', 'prob',
       'stratum', 'psu'],
      dtype='object', length=676)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46162 entries, 0 to 46161
Columns: 676 entries, name to psu
dtypes: float64(264), int64(388), object(24)
memory usage: 238.1+ MB

In [7]:
df.isnull().sum()

name            0
essround        0
edition         0
proddate        0
idno            0
            ...
mode            0
domain      20017
prob            0
stratum         0
psu             0
Length: 676, dtype: int64

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
# Variables seleccionadas: paÃ­s, id del encuestado/a, interÃ©s por la polÃ­tica, 
# haber votado, ideologÃ­a, satisfacciÃ³n con la democracia, satisfacciÃ³n con la 
# vida, apoyo al colectivo LGTB, gÃ©nero, edad, estado civil, educaciÃ³n, 
# y decil de income en la familia.

df_reduced = df[['cntry', 'idno', 'polintr', 'vote', 'lrscale', 'stfdem', 'stflife', 'freehms', 'gndr', 'agea', 'marsts', 'eisced', 'hinctnta']]

In [10]:
df_reduced.head()

,cntry,idno,polintr,vote,lrscale,stfdem,stflife,freehms,gndr,agea,marsts,eisced,hinctnta
0,AT,50014,1,1,5,6,8,2,1,65,66,3,6
1,AT,50030,2,1,0,7,9,1,2,21,6,5,1
2,AT,50057,2,1,3,6,10,1,2,53,66,6,5
3,AT,50106,3,2,5,6,7,2,2,78,4,5,2
4,AT,50145,2,1,2,8,9,2,1,64,66,3,77

In [11]:
(df['agea'] == 999).sum()

np.int64(357)

In [13]:
# Filter for Cyprus and exclude invalid values
cyprus_data = df[(df['cntry'] == 'CY') & (~df['ipeqopta'].isin([66, 77, 88, 99]))]
# Invert the values: 1 becomes 6 and 6 becomes 1
cyprus_data['ipeqopta'] = 7 - cyprus_data['ipeqopta']
# Calculate mean
mean_ipeqopta = cyprus_data['ipeqopta'].mean()
print(f"Media de ipeqopta para Chipre: {mean_ipeqopta}")

Media de ipeqopta para Chipre: 5.359398496240601

C:\Users\paula\AppData\Local\Temp\ipykernel_27148\3810613281.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cyprus_data['ipeqopta'] = 7 - cyprus_data['ipeqopta']